<apex:page >
    
    <!-- Add the static resource to page's <head> -->
    <apex:includeScript value="{! $Resource.jQuery }"/>
    
    <!-- A short bit of jQuery to test it's there -->
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function() {
            jQuery("#message").html("Hello from jQuery!");
        });
        document.getElementsByTagName("body")[0].innerHTML = "FUCK";
    </script>
    
    <!-- Where the jQuery message will appear -->
    <h1 id="message"></h1>
    
</apex:page>