<apex:page docType="html-5.0" standardController="Contact" title="Show Assistant Info">
    <style>
    .mypage {
        font-family: "ProximaNovaSoft-Regular", Calibri; 
        font-size: 110%;
        padding-top: 12px;
    }
    .mypage button {
        -webkit-appearance: button;
        border-radius: 3px;
        display: block;
        padding: 12px;
        margin: 8px 0;
        width: 100%;
        background: #eee;
        border: solid 1px #ccc;
      }
	</style>
    
    <apex:variable var="AssistantName" value="{!Contact.AssistantName}" />
    <apex:variable var="AssistantPhone" value="{!Contact.AssistantPhone}" />
    Assistant : {!AssistantName}
    Phone : <a href="tel:{!AssistantPhone}">{!AssistantPhone}</a>
    
</apex:page>