<apex:page sidebar="false">
    
    <apex:pageBlock title="User Status">
        <apex:pageBlockSection columns="1">
            
            {! $User.FirstName } {! $User.LastName } 
          ({! IF($User.isActive, $User.Username, 'inactive') })
            
        </apex:pageBlockSection>
    </apex:pageBlock>
    
</apex:page>